* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body #wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
}

body #wrapper aside {
    width: 20%;
    float: left;
    height: 100%;
    background: #444;
    color: white;
}

body #wrapper aside h1 {
    margin: 1em;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.3em;
}

body #wrapper aside h1 a {
    color: white;
    text-decoration: none;
}

body #wrapper aside nav ul {
    margin-left: 2em;
    list-style-type: none;
}

body #wrapper aside nav ul li {
    padding: 0.5em;
}

body #wrapper aside nav ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

body #wrapper aside nav ul li a:hover {
    color: #ff824b;
}

body #wrapper #content {
    width: 80%;
    box-sizing: border-box;
    max-height: 100%;
    overflow: auto;
    float: left;
}

body #wrapper #content #main-content .article {
    border-bottom: 1px solid #d3d3d3;
    padding: 1em;
}

body #wrapper #content #main-content .article .article-title {
    color: #777;

}

body #wrapper #content #main-content .article .article-title::before {
    content: '○ ';
    color: #ff824b;
    font-size: 1.095em;
}

body #wrapper #content #main-content .article:hover .article-title::before {
    content: '● ';
    font-size: 1.1em;
}

body #wrapper #content #loader {
    display: none;
}