<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/main.css">
    <title>Pretty Website</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <strong>
                <a href="#">
                    <img src="images/headerBackground.jpg" alt="Header Background">
                    <h1>In the twilight of one's life</h1>
                </a>
            </strong>
        </header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <main>
            <article>
                <h2>WELCOME TO HOME PAGE</h2>
                <p>
                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet elementum sapien, et interdum risus.</strong>
                    Integer ultrices neque vel est posuere, vel aliquam urna ultricies. Maecenas convallis a tortor vitae vestibulum.
                    Morbi posuere id dolor in bibendum. Nunc dolor felis, sagittis at aliquam ac, euismod vitae mi.
                    Maecenas dignissim eu orci iaculis iaculis. Sed semper, leo vel mattis congue, arcu enim luctus orci,
                    eu finibus nunc leo ut nulla. Duis at metus turpis. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Nam laoreet aliquam tristique. Duis molestie leo vel vulputate suscipit.
                    Pellentesque placerat id est eu dignissim. Nunc dictum ac metus quis mattis. Nullam vel egestas orci.
                </p>
            </article>
            <article>
                <h2>Our Free Products</h2>
                <div class="products-box">
                    <img src="images/0003.jpg" alt="Just try to find me">
                    <h3>Just try to find me</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quisque sit amet elementum sapien, et interdum risus.
                        Integer ultrices neque vel est posuere, vel aliquam urna ultricies.
                        Maecenas convallis a tortor vitae                             vestibulum.
                    </p>
                </div>
                <div class="products-box">
                    <img src="images/0004.jpg" alt="Meeting place">
                    <h3>Meeting place</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quisque sit amet elementum sapien, et interdum risus.
                        Integer ultrices neque vel est posuere, vel aliquam urna ultricies.
                        Maecenas convallis a tortor vitae                             vestibulum.
                    </p>
                </div>
                <div class="products-box">
                    <img src="images/0005.jpg" alt="Skate show">
                    <h3>Skate show</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Quisque sit amet elementum sapien, et interdum risus.
                        Integer ultrices neque vel est posuere, vel aliquam urna ultricies.
                        Maecenas convallis a tortor vitae                             vestibulum.
                    </p>
                </div>
            </article>
        </main>
        <aside>
            <section>
                <h2>NEWS</h2>
                <article>
                    <h3>August 2, 2015</h3>
                    <p>Aliuqam aru getsu</p>
                    <a href="#">See more...</a>
                </article>
                <article>
                    <h3>October 7, 2014</h3>
                    <p>Aliuqam aru getsu</p>
                    <a href="#">See more...</a>
                </article>
                <article>
                    <h3>January 28, 2014</h3>
                    <p>Aliuqam aru getsu</p>
                    <a href="#">See more...</a>
                </article>
            </section>
            <section>
                <h2>MESSAGES</h2>
                <article>
                    <h3>November 11, 2015</h3>
                    <p>Fusce pulvinar, leo quis auctor lobortis, nibh nibh semper massa, at elementum orci metus at enim.
                        Sed et velit ullamcorper, ullamcorper risus eget, dictum tellus. Nam eget tristique ligula.
                        Aenean non suscipit elit. In venenatis velit at nibh suscipit finibus vitae sit amet ex.
                    </p>
                    <p>Author: <span>SoftUni</span></p>
                    <a href="#">See all testimonials...</a>
                </article>
            </section>
        </aside>
        <footer>
            <p>In the twilight of one's life Copyright &copy; 2 August 2015 | <a href="#">XHTML</a> | <a href="#">CSS</a></p>
        </footer>
    </div>
</body>
</html>