* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: Arial;
	text-align: center;
}

div.nav-icons {
	background: #333;
	text-align: center;
	padding: 30px;
	width: 440px;
	border-radius: 10px;
	display: inline-block;
}

div.nav-icons ul {
	list-style: none;
}

div.nav-icons ul li {
	display: inline-block;
}

div.nav-icons ul li a {
	width: 120px;
	display: block;
	padding: 20px 5px;
	border-radius: 10px;
	font: bold 12pt Arial;
	color: #fff;
	text-decoration: none;
}

div.nav-icons ul li a:hover {
	background: #594932;
	color: #f0e0c9;
	border: 2px solid #866129;
	margin: -2px;
}

div.nav-icons ul a span {
	display: block;
}