body {
	font-family: Arial, Verdana;
}

a {
	text-decoration: none;
	color: #000;
}

body header {
	background: #f5f5dc;
	text-align: center;
	padding: 1px;
	margin-bottom: 10px;
}

body header h1 {
	margin: 0;
}

body aside {
	background: #f5f5dc;
	float: left;
	display: inline-block;
	padding: 10px;
}

body aside ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}

body aside ul li {

}

body aside ul li a {
	display: block;
	color: #aa3538;
	font-size: 1.2em;
	border-radius: 5px;
	padding: 10px;
}

body aside ul li a:hover,
body aside ul li a:focus {
	background: #deb887;
}

body main {
	width: 89%;
	display: inline-block;
	padding: 10px;
	margin-left: 10px;
	background: #f5f5f5;
}

body footer {
	margin-top: 10px;
	clear: both;
	background: #f5f5dc;
	text-align: center;
	padding: 1px;
}

body footer p {
	margin: 0;
}