* {
    margin: 0;
    padding: 0;
}

.colors {
   color: #c0dfd9;
   color: #e9ece5;
   color: #b3c2bf;
   color: #3b3a36;
}

body {
    font-family: Arial;
    font-size: 12pt;
    background: #b3c2bf;
}

header {
    width: 98%;
    border-bottom: 1px solid #aaa;
    padding: 1%;
    text-align: center;
    background: #c0dfd9;
}

header > a {
    padding: 1%;
    text-decoration: none;
    color: #3b3a36;
    font-weight: bold;
}

header > a:hover {
    background: #b3c2bf;
}

main > section {
    padding: 20px 10px;
    background: #b3c2bf;
    text-align: center;
    display: none;
}

main > section > h1 {
    margin-bottom: 10px;
}

main > section > form {
    width: 200px;
    margin: 0 auto;
    background: #e9ece5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3b3a36;
}

main > section > form > span,
main > section > form > input {
    margin-bottom: 10px;
}

main > section > form > input {
    border-radius: 3px;
    border: 1px solid #b3c2bf;
    padding: 5px 10px;
}

table {
    border-radius: 5px;
    border: 1px solid #3b3a36;
    margin: 10px auto;
    background: #e9ece5;
    text-align: left;
    margin-bottom: 30px;
}

table tr td {
    border-top: 1px solid #3b3a36;
}

table tr td:last-child {
    border-right: 1px solid #3b3a36;
}

table tr td:first-child {
    border-left: 1px solid #3b3a36;
}

table td,
table th {
    background: #ddd;
    padding: 10px;
}

table th {
    background: #ccc;
}

.comments-row td {
    border: 1px solid #3b3a36;
    border-top: none;
}

.comments-row td {
    background: #fff;
}

.comments-row ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.comments-row ul li {
    border-bottom: 1px solid #3b3a36;
    padding: 5px;
}

.comments-row ul li p.comment {
    padding: 5px;
}

.comments-row ul li p.author {
    font-style: italic;
    font-size: 0.8em;
}

.comments-row form {
    display: none;
}

.comments-row form * {
    margin: 5px;
}

#loading-box, #info-box, #error-box {
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

#loading-box {
    background: #62bcfa;
    color: #e9ece5;
}

#info-box {
    background: #c0dfd9;
}

#error-box {
    background: #e05038;
    color: #e9ece5;
}

footer {
    width: 100%;
    border-bottom: 1px solid #aaa;
    padding: 5px 0;
    text-align: center;
    background: #c0dfd9;
    position: fixed;
    bottom: 0;
}