* {
    margin: 0;
    padding: 0;
}

p {
    margin: 1em 0;
}

body {
    font-size: 16px;
    font-family: Helvetica;
    background: #f1f1f1;
}

body > header {
    border-bottom: 1px solid #ca6725;
    background: linear-gradient(#ff984f, #ff832e);
    color: #fff;
}

body > header > nav {
    width: 800px;
    margin: auto;
}

body > header > nav ul {
    display: inline-block;
    list-style: none;
}

body > header > nav ul.user-info-bar {
    float: right;
}

body > header > nav ul li {
    display: inline-block;
}

body > header > nav ul li a {
    color: #ffd6ab;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

body > header > nav ul li a:hover {
    color: #fff;
}

body > ul#messages {
    width: 100%;
    text-align: center;
    list-style-type: none;
}

body > ul#messages > li {
    background: #d3d3d3;
    margin: 10px auto;
    padding: 5px;
    width: 600px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

body > ul#messages > li.error {
    background: #ff9e97;
}

body > ul#messages > li.info {
    background: #b9daff;
}

body > ul#messages > li.success {
    background: #9bffb9;
}

body > main {
    width: 900px;
    margin: auto;
    padding: 30px 50px;
}

body > main > form {
    min-width: 300px;
    background: #fff;
    padding: 1em;
    margin: 1em auto;
    -webkit-box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

body > main > article {
    position: relative;
    height: 200px;
    background: #fff;
    padding: 0;
    margin: 1em;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

body > main > article > img {
    float: left;
    height: 100%;
    margin-right: 1em;
}

body > main > article > h3 {
    padding-top: 1em;
    padding-left: 1em;
}

body > main > article > p {
    margin: 0;
    padding: 1em;
}

body > main > article > p#info {
    position: absolute;
    margin: 0;
    text-align: right;
    right: 0;
    bottom: 0;
    font-size: 0.9em;
    font-family: Verdana;
}

body > main > article > p#info > span {
    font-style: italic;
}

body > footer {
    background: #5e5e5e;
    color: #fff;
    font-size: 0.9em;
    text-align: center;
    padding: 5px;
}

body > footer > p {
    margin: 0;
}

/* Chat styles */
body > main > form.chat > ul {
    list-style-type: none;
    overflow: auto;
}

body > main > form.chat > ul > li {
    padding: 5px 15px;
    background: #eee;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    float: right;
    clear: both;
}

body > main > form.chat > ul > li small {
    color: #555;
    margin-right: 10px;
}

body > main > form.chat > ul > li.friend-message {
    background: #179cff;
    color: white;
    float: left;
    clear: both;
}

body > main > form.chat > ul > li.friend-message small {
    color: #ddf;
}

body > main > form.chat .form-row {
    margin-top: 10px;
}

body > main > form.chat input[type="text"] {
    box-sizing: border-box;
    width: 91%;
}

body > main > form.chat input[type="submit"] {
    box-sizing: border-box;
    float: right;
    width: 8%;
}